@import '../../../styles/colors.scss';

.layout {
  display: flex;
  flex-direction: column;
  background-color: $clr_background_dark;
  color: $clr_text_light;
  min-height: 100vh;

  &__header {
    padding: 1em;
    box-shadow: 0 0 1em $clr_shadow;
    background-color: $clr_background_light;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
      display: block;
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__title {
      font-size: 32px;
      margin-left: 1em;
      color: $clr_text_dark;
    }
  }

  &__main {
    display: flex
  }
}
